.container {
  width: 650px;
  border: 2px solid #dbe4e4;
}

.row1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 96.7%;
  margin: 9px;
}

.first {
  flex: 40;
  border: 3px solid #7ac6fa;
  margin-right: 0px;
}

.input {
  width: 98.2%;
  border: none;
}

.space {
  flex: 1;
  width: 10px;
}

.second  {
  flex: 10;
  /*border: 3px solid #7ac6fa;*/
  border: 3px solid #7ac6fa;
}

.third  {
  flex: 10;
  border: 3px solid #7ac6fa;
}

.btn {
  width: 100%;
  background-color: #7ac6fa;
  border: none;
  padding: 2px;
  cursor: pointer;
}

.row2 {
  display: flex;
  flex-direction: column;
  width: 96%;
  border: 3px solid #7ac6fa;
  margin: 9px;
}

.server {
  display: block;
  margin: 0 5px 10px 0;
  width: auto;
  height: 25px;
}

.inserver {
  
  width: fit-content;
  border: 3px solid #7ac6fa;
  border-radius: 12px;
  float: right;
}

.client {
  display: block;
  margin: 5px 0 3px 5px;
  width: fit-content;
  height: 25px;
  border: 3px solid #7ac6fa;
  border-radius: 12px;
  position: relative;
}
.time_who_message {
  font-size: 12px;
  color: #7ac6fa;
}

.message {
  font-size: 20px;
}

a {
  padding: 10px 10px 0 10px;
  text-decoration: none;
  font-weight: bold;
  color: #7ac6fa;  
}
